.dark {
  --background-color: #7c7c7c;
  --color: azure;
  --body: rgb(55, 49, 49);
  --border: rgb(30, 33, 33);
  --price: rgb(80, 177, 177);
  --category: rgb(65, 208, 77);
}

.light {
  --background-color: #d3c3c3;
  --color: rgb(25, 25, 25);
  --body: rgb(255, 255, 255);
  --border: rgb(232, 249, 249);
  --price: rgb(83, 50, 214);
  --category: rgb(65, 179, 208);
}

.header-blue {
  background: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

body {
  font-family: "Cabin", "sans-serif";
  background: var(--body);
}

.container {
  width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

.header__button {
  background: var(--background-color);
  border: 1px solid var(--border);
  color: var(--color);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header__button.dark-theme {
  background: var(--background-color);
  border: 1px solid var(--border);
  color: var(--color);
}

.header__button:hover {
  background: var(--background-color);
  color: var(--color);
  cursor: pointer;
}

.menu1-content {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  justify-content: space-between;
}

.page-logo {
  display: flex;
}

.logo-title {
  display: flex;
  color: var(--color);
  font-size: 24px;
  line-height: normal;
}

.logo-link {
  display: flex;
  text-decoration: none;
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
}

.total-prise {
  display: flex;
  color: var(--color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
}

.cart-button {
  width: 40px;
  height: 40px;
  background: var(--background-color);
  background-image: url(../img/cart_icon.png);
  border: none;
  color: var(--color);
  font-size: 12px;
  line-height: 10px;
  padding: 12px 18px 20px 19px;
}

.header-white {
  background-color: var(--background-color);
  margin-bottom: 32px;
}

.menu2-content {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
  justify-content: space-between;
}

.nav-text {
  color: var(--color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item {
  display: flex;
  text-decoration: none;
  color: var(--color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.page-title {
  color: var(--color);
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 23px;
}

.shop-products {
  display: flex;
  padding-top: 24px;
  border-top: 1px solid var(--border);
  justify-content: center;
  margin-bottom: 120px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 22px;
  row-gap: 32px;
}

.category-container {
  position: absolute;
  display: flex;
  gap: 4px;
}

.category-hit {
  position: relative;
  display: flex;
  border-radius: 4px;
  background: var(--category);
  padding: 4px 8px;
  color: var(--color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.category-new {
  position: relative;
  display: flex;
  border-radius: 4px;
  background: var(--category);
  padding: 4px 8px;
  color: var(--color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.category-discount {
  position: relative;
  display: flex;
  border-radius: 4px;
  background: var(--category);
  padding: 4px 8px;
  color: var(--color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product-element {
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  padding: 32px;
  position: relative;
}

.product-link {
  text-decoration: none;
  color: var(--color);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.product-image {
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  width: 178px;
  height: 280px;
}

.product-name {
  border-bottom: 1px solid var(--border);
}

.product-author {
  color: var(--color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.price-container {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.price-1 {
  display: flex;
  color: var(--price);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.price-2 {
  display: flex;
  color: var(--price);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-decoration-line: line-through;
}

.button-add {
  border-radius: 4px;
  background: var(--background-color);
  color: var(--color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 24px 8px 24px;
  border: none;
}

.button-end {
  border-radius: 4px;
  background: var(--background-color);
  color: var(--color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 24px 8px 24px;
  border: none;
}

.purple-footer {
  display: flex;
  height: 88px;
  background: var(--background-color);
}

.footer-content {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.copyright {
  display: flex;
  color: var(--color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.rights-reserved {
  display: flex;
  color: var(--color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.chat-button {
  background-image: url(../img/chat.png);
  background-color: inherit;
  border: none;
  width: 64px;
  height: 64px;
  position: fixed;
  right: 28%;
  top: 68%;
}
